#Everything,
#ShowContact {
    float: left;
    display: inline-block;
}

#ShowContact li {
    display: none;
    margin-left: 10em;
    margin-top: 5em;
    color: black;
}

#Everything {
    margin-left: 2em;
}

#AddButton {
    margin-top: 1em;
    border-radius: 8px;
    background-color: #4CAF50;
}

#ContactList li {
    padding: 0px;
}

#ContactList li a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

li {
    line-height: 160%;
    color: blue;
}

button.link {
    background: none;
    margin-right
}


#Edit,
#Delete {
    display: none;
    padding-left: 1em;
}
